
{{ $rowHeight := "29px" }}
{{ range .Contacts }}
<div
    class="grid grid-cols-5 border-b border-neutral-100 [content-visibility:auto] hover:bg-brand-neutral"
    style="height: {{ $rowHeight }}"
>
    <div
        class="px-3 py-1.5 truncate min-w-0 font-medium text-brand-stone"
        title="{{ .FullName }}"
    >
        {{ .FullName }}
    </div>
    <a
        class="px-3 py-1.5 truncate min-w-0 text-neutral-700 hover:text-brand-sapphire"
        title="{{ .Org }}"
        href="/?q={{ printf `org:"%s"` .Org | urlquery }}"
    >
        {{ .Org }}
    </a>
    <div
        class="px-3 py-1.5 truncate min-w-0 text-neutral-700"
        title="{{ .Email }}"
    >
        {{- if .Email -}}
        <a
            href="mailto:{{ .Email }}"
            class="hover:text-brand-sapphire hover:underline"
            >{{ .Email }}</a
        >
        {{- end -}}
    </div>
    <div
        class="px-3 py-1.5 truncate min-w-0 text-neutral-700 flex gap-3 tabular-nums"
        title="{{- if .Phone }}{{ .Phone }}{{ end -}}{{- if and .Phone .Mobile }} | {{ end -}}{{- if .Mobile }}{{ .Mobile }}{{ end -}}"
    >
        {{- if .Phone }}
        <a
            href="tel:{{ .Phone }}"
            class="hover:text-brand-sapphire hover:underline"
            >{{ .Phone }}</a
        >
        {{ end -}} {{- if .Mobile }}
        <a
            href="tel:{{ .Mobile }}"
            class="hover:text-brand-sapphire hover:underline"
            >{{ .Mobile }}</a
        >
        {{ end -}}
    </div>
    <div
        class="px-3 py-1.5 truncate min-w-0 text-neutral-500"
        title="{{ .Address }}"
    >
        {{ .Address }}
    </div>
</div>
<!-- For each subsequent page, we render a placeholder such that when its scrolled into view, the page is fetched and the placeholder is replaced. -->
{{ end }} {{ range .Spacers }}
<div
    style="height: calc({{ .Count }} * {{ $rowHeight }})"
    hx-get="/contacts?q={{ .Query | urlquery }}&page={{ .Page }}"
    hx-trigger="intersect once"
    hx-swap="outerHTML"
></div>
{{ end }}
